					</div>
		        </div>
		      </div><!-- /.proper-content -->
 
		      <div class="push"></div>
 
		    </div><!-- /.wrapper -->

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	
	<div class="footer-wrapper">
	<footer>
		<div class="container">
			<a href="http://creativecommons.org/licenses/by-sa/4.0/"><img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> Материалы сайта, для которых не указано иное, доступны по лицензии <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.ru">Creative Commons «Attribution-ShareAlike» («Атрибуция — На тех же условиях») 4.0 Всемирная.</a>
		</div>
		<div class="container">
			Ссылочки: <a href="http://www.youtube.com/user/RinonNinqueon">YouTube</a> <a href="http://plus.google.com/u/0/b/112338577909918454670/112338577909918454670">Google+</a>
		</div>
	</footer>
	</div>
	</div>
  </body>
</html>
