					</div>
		        </div>
		      </div><!-- /.proper-content -->
 
		      <div class="push"></div>
 
		    </div><!-- /.wrapper -->

	<div class="footer-wrapper">
	<footer>
		<div class="container">
			<script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,gplus" data-yashareTheme="counter"></div>
		</div><br>
		<div class="container" id="id_border">
			<div class="container">
				<a href="http://creativecommons.org/licenses/by-sa/4.0/"><img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> Материалы сайта, для которых не указано иное, доступны по лицензии <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.ru">Creative Commons «Attribution-ShareAlike» («Атрибуция — На тех же условиях») 4.0 Всемирная.</a>
			</div>
			<div class="container">
				Ссылочки: <a href="http://www.youtube.com/user/RinonNinqueon">YouTube</a> <a href="http://plus.google.com/u/0/b/112338577909918454670/112338577909918454670">Google+</a>
			</div>
		</div>
	</footer><br>
	</div>
	</div>
  </body>
</html>
